<section class="chat-container">
  <div class="chat-messages-container">
    <div class="chat-message chat-message-local">
      <span class="message">Mensaje de pruebaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</span>
    </div>
    <div class="chat-message chat-message-remote">
      <span class="message">Mensaje de pruebaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</span>
    </div>
    <div class="chat-message chat-message-local">
      <span class="message">Hello</span>
    </div>
    <div class="chat-message chat-message-remote">
      <span class="message">How are you doing?</span>
    </div>
    <div class="chat-message chat-message-local">
      <span class="message">I'm doing well! and you?</span>
    </div>
    <div class="chat-message chat-message-remote">
      <span class="message">I'm doing well too!</span>
    </div>
  </div>
  <div class="chat-input-container">
    <input type="text" class="chat-input" name="chat-input" placeholder="Ingresa el texto aquí">
    <button type="button" class="chat-button" name="chat-button">Enviar</button>
  </div>
</section>
